extends layout.pug

block content
	+post(post)

	each post in replies
		+post(post)

	+form("Reply...", '/posts/'+post.id)

	if post.reply_to == ""
		a(href="/") Back
	else
		a(href="/posts/" + post.reply_to) Back
